@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
body {
  margin: 0;
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  color: #8bacda;
  font-weight: 300;
  background-color: #0d192b;
}

a {
  text-decoration: none;
}
