$color_primary: hsl(215, 51%, 70%);
$color_secondary: hsl(178, 100%, 50%);
$color_secondary_rgba: rgba(0, 255, 247, 0.5);
$color_background: hsl(217, 54%, 11%);
$color_card: hsl(216, 50%, 16%);
$color_line: hsl(215, 32%, 27%);
$color_white:  hsl(0, 0%, 100%);
$size_text: 18px;
$size_title: 22px;
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
